main {
  margin-bottom: 25px;
}

.contactContainer {
  width: 365px;
  height: 290px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
}

.title {
  width: 365px;
  height: 47px;
  background-color: white;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title p {
  margin-left: -100px;
  font-size: 25px;
}

.verticalLine {
  width: 4px;
  background-color: rgb(168, 166, 166);
  height: 30px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.buttonsContainer button {
  width: 97px;
  height: 37px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer img {
  margin-right: 5px;
}

.buttonsContainer button:hover {
  background-color: rgba(0, 26, 122, 0.7);
  color: white;
  cursor: pointer;
}

.infoSection {
  margin-left: 20px;
}

.divInfo {
  display: flex;
  align-items: center;
}

.divInfo p {
  margin-left: 45px;
}

/* Contacto Eliminado: */
.contactContainerDeleted {
  width: 365px;
  height: 290px;
  background-color: rgba(179, 18, 18, 0.8);
  color: white;
  border-radius: 35px;
}

.titleDeleted {
  width: 365px;
  height: 47px;
  background-color: #ea906c;
  color: black;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titleDeleted p {
  margin-left: -100px;
  font-size: 25px;
}

.buttonsContainer .deletedButton {
  background-color: #2b2a4c;
  color: white;
}

.buttonsContainer .deletedButton:hover {
  background-color: #716edb;
}
