.nav {
  background-color: black;
  margin-bottom: 20px;
  color: white;
  display: flex;
}

h1 {
  margin: 0;
  font-size: 50px;
  margin-right: 30px;
}

.Links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 25px;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}
