.nav {
  background-color: black;
  margin-bottom: 20px;
  color: white;
  display: flex;
}

.nav h1 {
  margin: 0;
  font-size: 50px;
  margin-right: 30px;
}

.nav h1:hover {
  cursor: pointer;
  color: #008170;
}

.menuResponsive {
  display: none;
}

.Links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white; /* Mantener color blanco para el estado visitado */
}

a:hover {
  color: #008170; /* Cambiar color al pasar el ratón sobre el enlace */
}
